.main{
/* .main::-webkit-scrollbar{ */
    position: relative;
    width: 300px;
    height: 550px;
    border: 8px solid black;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 500px;
    overflow: scroll;
    display: inline-block;
    overflow: scroll;
    scrollbar-width: none;
    position: fixed; 
    /* display: none; */
    background-image: url('./pic2.png');
}
.item1{
    position: absolute;
      height: 70px;
      background:rgb(49, 226, 49);
      color: white;
      /* display: flex; */
      align-items: center;
      padding-top: 20px;
      box-sizing: border-box;
      font-weight:bold;
      z-index: 1;
      position:fixed;
      width: 300px;
      border-radius: 10px;
}
i{
    margin-left: 15px;
}
span{
    margin-left: 10px;
    font-size: larger;
    height: 20px;
}
.item2{
    position: fixed;
    /* bottom: 0;
    left: 0;
    right: 0; */
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 500px;
    /* margin-right: 10px; */
    border-radius: 25px;
    z-index: 1; 
}
input{
    width: 100px; ;
    margin-left: 15px;
}
p{
    margin-left: 15px;
    cursor: pointer;
}
.Vineeth, .Vineeth1, .Vineeth2, .Vineeth3, .Vineeth4 {
    margin-top: 0px;
    margin-left: 150px;
    color:white;
}
.Virat, .Virat1, .Virat2, .Virat3{
    margin-right: 130px;
    font-size: medium;
    color: white;
}
.Date, .Date1, .Date2, .Date3, .Date4{
    position: sticky;
    top: 80px;
    display: inline-block;
    margin-left: 100px;
    position:sticky;
    z-index: 1;
    background-color: palevioletred;
    margin-top: 70px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
}
/* .dp{
    height: 5px;
    width: 5px;
    border-radius: 50%;
} */
